@using TechLife.Common;
@using TechLife.Model.HoatDongKinhDoanh
@using TechLife.Common.Extension;
@model PagedResult<HoatDongKinhDoanhVm>
@{
    int thang = ViewBag.Thang;
    int nam = ViewBag.Nam;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-primary">
                <form id="form" method="get" style="width:100%">
                    <div class="card-header">
                        <h3 class="card-title">@ViewData["Title"]</h3>
                        <div class="card-tools">
                            <a href="#" data-url="/DuLieuThongKe/XoaHoatDongKinhDoanh/?thang=@thang&nam=@nam" class="btn btn-xs btn-danger modal-popup">
                                <i class="fas fa-trash-alt"></i> Xóa
                            </a>
                            <a href="#" data-url="/DuLieuThongKe/ImportHoatDongKinhDoanh/?thang=@thang&nam=@nam" class="btn btn-xs btn-success modal-popup">
                                <i class="fas fa-file-import"></i> Thêm từ Excel
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 mb-3">
                                <div class="">
                                    <select class="form-control select2 form-value" asp-items="ViewBag.YearOptions" name="Nam"></select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="">
                                    <select class="form-control select2 form-value" asp-items="ViewBag.MonthOptions" name="Thang"></select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table-hover table-striped table-bordered table">
                                    <thead>
                                        <tr>
                                            <th class="text-center align-middle">PHẦN BÁO CÁO HÀNG THÁNG</th>
                                            <th class="text-center align-middle" width="8%">ĐVT</th>
                                            <th class="text-center align-middle" width="12%">Chính thức tháng @(thang - 1)</th>
                                            <th class="text-center align-middle" width="12%">Ước tháng @thang</th>
                                            <th class="text-center align-middle" width="12%">Lũy kế từ đầu năm</th>
                                            <th class="text-center align-middle" width="12%">Dự tính ước tháng @(thang + 1)</th>
                                            <th class="text-center align-middle" width="10%">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Items != null && Model.Items.Count > 0)
                                        {
                                            foreach (var item in Model.Items)
                                            {
                                                <tr>
                                                    <th class="text-left">
                                                        @for (int i = 0; i < item.Level; i++)
                                                        {
                                                            <span>&nbsp; &nbsp;</span>
                                                        }
                                                        @($"{item.Code + (!string.IsNullOrEmpty(item.Code) ? ". " : "")}{item.Name}")
                                                    </th>
                                                    <td class="text-center">@item.DVT</td>
                                                    <td class="text-right">@(item.Id != 0 ? Functions.ConvertDecimalVND(item.ChinhThucThangTruoc) : "")</td>
                                                    <td class="text-right">@(item.Id != 0 ? Functions.ConvertDecimalVND(item.UocThangHienTai) : "")</td>
                                                    <td class="text-right">@(item.Id != 0 ? Functions.ConvertDecimalVND(item.LuyKeTuDauNam) : "")</td>
                                                    <td class="text-right">@(item.Id != 0 ? Functions.ConvertDecimalVND(item.DuTinhUocThangSau) : "")</td>
                                                    <td class="text-center">
                                                        @if(item.Id != 0)
                                                        {
                                                            <a title="Sửa hoạt động" href="#" data-url="/DuLieuThongKe/SuaHoatDongKinhDoanh/?id=@HashUtil.EncodeID(item.Id.ToString())" class="btn btn-warning btn-xs modal-popup"><i class="fas fa-edit"></i> Sửa</a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    @if (Model.TotalRecords > Model.PageSize)
                    {
                        <div class="card-footer">
                            @await Component.InvokeAsync("Paging", new { page = Model })
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('.form-value').change(() => {
        $('#form').submit();
    })
</script>