@model TechLife.Model.HoatDongKinhDoanh.HoatDongKinhDoanhUpdateRequest

<form id="modal-form" class="">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-blue">
                <strong>Cập nhật</strong>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="ChinhThucThangTruoc" class="control-label">Chính thức tháng @(Model.Thang - 1)</label> <span class="text-danger"> *</span>
                        <input asp-for="ChinhThucThangTruoc" class="form-control input-money" required />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="UocThangHienTai" class="control-label">Ước tháng @Model.Thang</label> <span class="text-danger"> *</span>
                        <input asp-for="UocThangHienTai" class="form-control input-money" required />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="LuyKeTuDauNam" class="control-label">Lũy kế từ đầu năm</label>  <span class="text-danger"> *</span>
                        <input asp-for="LuyKeTuDauNam" class="form-control input-money" required />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="DuTinhUocThangSau" class="control-label">Dự tính ước tháng @(Model.Thang + 1)</label>  <span class="text-danger"> *</span>
                        <input asp-for="DuTinhUocThangSau" class="form-control input-money" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer float-right">
            <input type="hidden" asp-for="Id" />
            @Html.AntiForgeryToken()
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                Hủy
            </button>
            <button type="submit" class="btn btn-success">Xác nhận</button>
        </div>
    </div>
</form>
<script src="@(Context.Request.PathBase)/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="@(Context.Request.PathBase)/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    defaultConfig(document.querySelector('#modal-form'));

    $('.input-money').on('input', function(e) {
        let value = checkInputMoney(e.target);
        ConvertMoneyByThis(value, e.target);
    })


    $('#modal-form').on('submit', function(e) {
        e.preventDefault();
        if(!$(this).valid()) {
            showNotification({isSuccessed: false, message: "Vui lòng nhập đầy đủ thông tin"})
            return;
        }else {
            let formData = new FormData(this);
            let form = this;
            showLoading();
            $.ajax({
                url: '/DuLieuThongKe/SuaHoatDongKinhDoanh',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(data) {
                    hideLoading();
                    if (data.isSuccessed) {
                        dropModal();
                        showNotification(data);
                        let element = document.getElementById('view-content');
                        let params = window.location.search;
                        loadContent(`/DuLieuThongKe/HoatDongKinhDoanhList/${params}`, element);
                    }else {
                        showNotification(data);
                        const elements = form.querySelectorAll('.input-money');
                        elements.forEach((element) => checkInputMoney(element));
                    }
                },
                error: function(xhr) {
                    hideLoading();
                    showNotification({ isSuccessed: false, message: xhr.responseText });
                }
            })
        }
    })

</script>