@using TechLife.Common;
@using TechLife.Model.TongHop
@using TechLife.Common.Extension;
@model PagedResult<TongHopVm>
@{
    int thang = ViewBag.Thang;
    int nam = ViewBag.Nam;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-primary">
                <form id="form" method="get" style="width:100%">
                    <div class="card-header">
                        <h3 class="card-title">@ViewData["Title"]</h3>
                        <div class="card-tools">
                            @if (thang >= 1 && thang <= 12)
                            {
                                <a href="#" data-url="/DuLieuThongKe/SuaTongHop/?thang=@thang&nam=@nam" class="btn btn-xs btn-warning modal-popup">
                                    <i class="fas fa-edit"></i> Sửa
                                </a>
                                <a href="#" data-url="/DuLieuThongKe/XoaTongHop?thang=@thang&nam=@nam" class="btn btn-xs btn-danger modal-popup">
                                    <i class="fas fa-trash"></i> Xóa
                                </a>
                            }
                            <a href="#" data-url="/DuLieuThongKe/ImportTongHop/?thang=@thang&nam=@nam" class="btn btn-xs btn-success modal-popup">
                                <i class="fas fa-file-import"></i> Thêm từ Excel
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 mb-3">
                                <div class="form-group">
                                    <select class="form-control select2 form-value" asp-items="ViewBag.YearOptions" name="Nam"></select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-group">
                                    <select class="form-control select2 form-value" asp-items="ViewBag.MonthOptions" name="Thang">
                                        <option value="0">Tất cả</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table-hover table-striped table-bordered table">
                                    <thead>
                                        <tr>
                                            <th class="text-center align-middle" width="4%">TT</th>
                                            <th class="text-center align-middle" width="10%">Quốc tịch</th>
                                            @if (thang == 0)
                                            {
                                                for (int i = 1; i <= 12; i++)
                                                {
                                                    <th class="text-center align-middle" width="@(70 / 12)%">@($"Th {i}")</th>
                                                }
                                            }
                                            else
                                            {
                                                <th class="text-center align-middle" width="70%">@($"Th {thang}")</th>
                                            }
                                            <th class="text-center align-middle" width="8%">Cộng dồn</th>
                                            <th class="text-center align-middle" width="8%">Thị phần</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Items != null)
                                        {
                                            int? thang = Model.Items.SelectMany(x => x.List).Max(x => (int?)x.Thang);
                                            int stt = (Model.PageIndex - 1) * Model.PageSize + 1;
                                            if (Model.Items.Count > 0)
                                            {
                                                foreach (var item in Model.Items)
                                                {
                                                    <tr>
                                                        <td class="text-right align-middle">@(stt == Model.TotalRecords ? "" : stt)</td>
                                                        <td class="text-left align-middle">@item.TenQuocTich</td>
                                                        @if (thang == 0)
                                                        {
                                                            for (int i = 1; i <= 12; i++)
                                                            {
                                                                decimal? soLieu = item.List.FirstOrDefault(x => x.Thang == i)?.SoLieu;
                                                                <td class="text-right align-middle">@(soLieu == null ? "" : Functions.ConvertDecimalVND((decimal)soLieu))</td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            decimal? soLieu = item.List.FirstOrDefault(x => x.Thang == thang)?.SoLieu;
                                                            <td class="text-right align-middle">@(soLieu == null ? "" : Functions.ConvertDecimalVND((decimal)soLieu))</td>
                                                        }
                                                        <td class="text-right align-middle">
                                                            @{
                                                                decimal? congDon = item.List.FirstOrDefault(x => x.Thang == (int)thang)?.CongDon;
                                                            }
                                                            @(congDon == null ? "" : Functions.ConvertDecimalVND((decimal)congDon))
                                                        </td>
                                                        <td class="text-right align-middle">
                                                            @{
                                                                decimal? thiPhan = item.List.FirstOrDefault(x => x.Thang == (int)thang)?.ThiPhan;
                                                            }
                                                            @(thiPhan == null ? "" : $"{thiPhan}%")
                                                        </td>
                                                    </tr>
                                                    stt++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    @if (Model.TotalRecords > Model.PageSize)
                    {
                        <div class="card-footer">
                            @await Component.InvokeAsync("Paging", new { page = Model })
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('.form-value').change(() => {
        $('#form').submit();
    })
</script>