@using TechLife.Common;
@using TechLife.Common.Enums;
@using TechLife.Model.DuLieuDuLich;
@using Microsoft.AspNetCore.Mvc.Rendering;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model DuLieuDuLichCreateRequest
@{
    ViewData["Title"] = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    #mapgg {
        margin: 0 auto;
        width: 100%;
        height: 300px;
    }

    .custom-file-input {
        height: 100% !important
    }

    .add-images:hover {
        box-shadow: 5px 5px rgba(0, 0, 0, 0.05) !important;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title_parent"]</li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <form asp-action="Themmoinhahang" enctype="multipart/form-data">

                            <div class="card-header">
                                <h3 class="card-title">@ViewData["Title"]</h3>
                                <div class="card-tools">
                                    <a href="@Context.Request.GetBackUrl()" class="btn btn-xs btn-outline-danger">
                                        <i class="fas fa-arrow-circle-left"></i> Quay lại
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <input type="hidden" asp-for="DuLieuDuLich.LinhVucKinhDoanhId" value="@Convert.ToInt32(LinhVucKinhDoanh.NhaHang)" />
                                <div class="col-sm-12">
                                    <div class="card card-primary card-outline card-outline-tabs">
                                        <div class="card-header p-0 border-bottom-0">
                                            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Thông tin chung</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-tiennghi" role="tab" aria-controls="custom-tabs-four-tiennghi" aria-selected="true">Dịch vụ bổ sung</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Bảng giá thực đơn</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                                <!-- Thông tin hồ sơ -->
                                                <div class="tab-pane fade active show" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Tên nhà hàng <span class="text-red">*</span></label>
                                                                <input asp-for="DuLieuDuLich.Ten" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.Ten" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Tên viết tắt</label>
                                                                <input asp-for="DuLieuDuLich.TenVietTat" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.TenVietTat" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Loại nhà hàng <span class="text-red">*</span></label>
                                                                <select class="form-control" asp-for="DuLieuDuLich.LoaiHinhId" asp-items="ViewBag.listLoaiNhaHang">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="DuLieuDuLich.LoaiHinhId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Số nhà</label>
                                                                <input asp-for="DuLieuDuLich.SoNha" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoNha" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Đường phố</label>
                                                                <input asp-for="DuLieuDuLich.DuongPho" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.DuongPho" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Xã/ phường <span class="text-red">*</span></label>
                                                                <select class="form-control option-xa" asp-for="DuLieuDuLich.PhuongXaId" asp-items="ViewBag.DiaPhuongOption">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="DuLieuDuLich.PhuongXaId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Số điện thoại</label>
                                                                <input asp-for="DuLieuDuLich.SoDienThoai" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoDienThoai" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Fax</label>
                                                                <input asp-for="DuLieuDuLich.Fax" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.Fax" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Email</label>
                                                                <input asp-for="DuLieuDuLich.Email" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.Email" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Website</label>
                                                                <input asp-for="DuLieuDuLich.Website" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.Website" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Công ty, đơn vị chủ quản </label>
                                                                <select asp-for="DuLieuDuLich.NhaCungCapId" asp-items="ViewBag.listNhaCungCap" class="form-control">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="DuLieuDuLich.NhaCungCapId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Họ và tên (Người đại diện)</label>
                                                                <input asp-for="DuLieuDuLich.HoTenNguoiDaiDien" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.HoTenNguoiDaiDien" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Chức vụ</label>
                                                                <input asp-for="DuLieuDuLich.ChucVuNguoiDaiDien" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.ChucVuNguoiDaiDien" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Số điện thoại</label>
                                                                <input asp-for="DuLieuDuLich.SoDienThoaiNguoiDaiDien" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoDienThoaiNguoiDaiDien" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Số GPDK kinh doanh</label>
                                                                <input asp-for="DuLieuDuLich.SoGiayPhep" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoGiayPhep" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Thời điểm bắt đầu kinh doanh</label>
                                                                <input asp-for="DuLieuDuLich.ThoiDiemBatDauKinhDoanh" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.ThoiDiemBatDauKinhDoanh" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Số lần chuyển chủ</label>
                                                                <input asp-for="DuLieuDuLich.SoLanChuyenChu" type="number" value="0" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLanChuyenChu" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <label class="control-label"></label>
                                                            <div class="form-check">
                                                                <input input asp-for="DuLieuDuLich.IsDatChuan" type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                <label class="form-check-label" for="exampleCheck1"><strong>Cơ sở đạt chuẩn</strong></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Số VB đạt chuẩn</label>
                                                                <input asp-for="DuLieuDuLich.SoCVDatChuan" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoCVDatChuan" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Ngày công nhận</label>
                                                                <input asp-for="DuLieuDuLich.NgayCVDatChuan" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.NgayCVDatChuan" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Tổng số vốn đầu tư ban đầu (1000 VNĐ)</label>
                                                                <input asp-for="DuLieuDuLich.TongVonDauTuBanDau" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.TongVonDauTuBanDau" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Tổng số vốn đầu tư bổ sung</label>
                                                                <input asp-for="DuLieuDuLich.TongVonDauTuBanDau" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.TongVonDauTuBanDau" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Diện tích mặt bằng (m2)</label>
                                                                <input asp-for="DuLieuDuLich.DienTichMatBang" type="number" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.DienTichMatBang" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Diện tích mặt bằng xây dựng (m2)</label>
                                                                <input asp-for="DuLieuDuLich.DienTichMatBangXayDung" type="number" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.DienTichMatBangXayDung" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Số tầng</label>
                                                                <input asp-for="DuLieuDuLich.SoTang" type="number" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.SoTang" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Tổng diện tích xây dựng (m2)</label>
                                                                <input asp-for="DuLieuDuLich.DienTichXayDung" type="number" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.DienTichXayDung" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <!-- Thông tin tiện nghi -->
                                                <div class="tab-pane fade" id="custom-tabs-four-tiennghi" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                                    @{
                                                        if (Model.DuLieuDuLich.DSTienNghi != null)
                                                        {
                                                            <table class="table-condensed table-bordered table">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center" width="5%"><label><input class="ckAll" type="checkbox" /></label></th>
                                                                        <th>Tiện nghi</th>
                                                                        <th class="text-center" width="10%">Phụ phí</th>
                                                                        <th class="text-center" width="15%">Đơn giá</th>
                                                                        <th class="text-center" width="15%">Quy mô/Số lượng</th>
                                                                        <th class="text-center" width="15%">Đơn vị tính</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int count = 0;
                                                                        for (int i = 0; i < Model.DuLieuDuLich.DSTienNghi.Count; i++)
                                                                        {
                                                                            count++;
                                                                            <tr>
                                                                                <td class="text-center"><label><input asp-for="@Model.DuLieuDuLich.DSTienNghi[i].IsSuDung" type="checkbox" class="ckTienNghiID" /></label></td>
                                                                                <td>
                                                                                    @Model.DuLieuDuLich.DSTienNghi[i].TienNghi.Ten
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSTienNghi[i].TienNghi.Id" class="form-control text-right" />
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSTienNghi[i].TienNghi.Ten" class="form-control text-right" />
                                                                                </td>

                                                                                <td class="text-center"><label><input asp-for="@Model.DuLieuDuLich.DSTienNghi[i].IsPhuPhi" type="checkbox" /></label></td>
                                                                                <td class="text-center"><input asp-for="@Model.DuLieuDuLich.DSTienNghi[i].DonGia" class="form-control text-right" /></td>
                                                                                <td class="text-center"><input asp-for="@Model.DuLieuDuLich.DSTienNghi[i].SoLuong" class="form-control text-right" type="number" /></td>
                                                                                <td><select asp-for="@Model.DuLieuDuLich.DSTienNghi[i].TienNghi.DonViTinhId" class="form-control" asp-items="ViewBag.listDonViTinh"></select></td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>

                                                        }
                                                    }
                                                </div>
                                                <!-- Thông tin giá thực đơn -->
                                                <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                                    @{
                                                        if (Model.DuLieuDuLich.DSThucDon != null)
                                                        {
                                                            <table class="table-condensed table-bordered table-responsive table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Tên</th>
                                                                        <th width="20%">Đơn giá</th>
                                                                        <th width="40%">Menu</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="new-row">
                                                                    @{
                                                                        for (int i = 0; i < Model.DuLieuDuLich.DSThucDon.Count(); i++)
                                                                        {
                                                                            <tr>
                                                                                <td style="vertical-align: middle;">
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSThucDon[i].Id" class="form-control text-right" />
                                                                                    <input asp-for="@Model.DuLieuDuLich.DSThucDon[i].TenThucDon" class="form-control" />
                                                                                </td>
                                                                                <td style="vertical-align: middle;">
                                                                                    <input asp-for="@Model.DuLieuDuLich.DSThucDon[i].DonGia" class="form-control text-right" />
                                                                                </td>
                                                                                <td>
                                                                                    <textarea rows="3" asp-for="@Model.DuLieuDuLich.DSThucDon[i].MoTa" class="form-control"></textarea>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="3" class="text-right">
                                                                            <input type="hidden" id="rownum" value="0" />
                                                                            <button type="button" class="btn btn-success add-rows">Thêm dòng</button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        }
                                                    }
                                                </div>
                                                <!-- Thông tin lao động -->
                                                
                                                <!-- Thông tin hình ảnh -->
                                                <div class="tab-pane fade show" id="custom-tabs-four-image" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <div class="row" id="images">
                                                        <div class="col-sm-2">
                                                            <a title="Chọn ảnh" href="javascript:void(0)">
                                                                <div class="form-group add-images" id="img_1" style="background-image: url('https://i.stack.imgur.com/mwFzF.png');background-size:100px;height:100px ">
                                                                    <input asp-for="Images.Images" type="file" data-id="1" class="form-control custom-file-input upload-image btn" />
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Thông tin map -->
                                                <div class="tab-pane fade show" id="custom-tabs-four-map" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Giờ mở cửa</label>
                                                                <input asp-for="DuLieuDuLich.GioMoCua" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.GioMoCua" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Giờ đóng cửa</label>
                                                                <input asp-for="DuLieuDuLich.GioDongCua" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.GioDongCua" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Giới thiệu</label>
                                                                <textarea asp-for="DuLieuDuLich.GioiThieu" class="form-control"> </textarea>
                                                                <span asp-validation-for="DuLieuDuLich.GioiThieu" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Vị trí trên bản đồ</label>
                                                                <div id="mapgg"></div>
                                                                <input type="hidden" class="position-mapp" asp-for="DuLieuDuLich.ViTriTrenBanDo" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="float-right">
                                    <input type="hidden" name="NgonNgu" value="@ViewBag.NgonNgu" />
                                    <input type="hidden" name="ParentId" value="@ViewBag.ParentId" />
                                    <button type="submit" name="type_sumit" value="save" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section scripts
{
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY3SQvC3UrYllXWmCvvjL3xzHON8_delI&callback=initMap"></script>
    <script src="~/js/map.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".upload-image").off("change").on("change", (function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    var number = $(this).data("id");
                    reader.onload = imageIsLoaded.bind(reader, number);
                    reader.readAsDataURL(this.files[0]);
                }
            }));
             $(".ckAll").off("change").on("change", (function () {
              var isChecked =$(this).is(':checked');
               var checkbox = document.getElementsByClassName("ckTienNghiID");
                for(var i=0;i<checkbox.length;i++) {
                    if(!isChecked){
                        checkbox[i].checked =false;
                    }
                    else checkbox[i].checked =true;
                }
            }));
            $(".add-rows").off("click").on("click", function () {
                var numCurent = parseInt($("#rownum").val()) + 1;

                var html = '<tr><td style="vertical-align: middle;"><input type="hidden" class="form-control text-right" data-val="true" data-val-required="The Id field is required." id="DuLieuDuLich_DSThucDon_0__Id" name="DuLieuDuLich.DSThucDon[' + numCurent
                    + '].Id" value="0"><input class="form-control" type="text" id="DuLieuDuLich_DSThucDon_0__TenThucDon" name="DuLieuDuLich.DSThucDon[' + numCurent
                    + '].TenThucDon" value=""></td><td style="vertical-align: middle;"><input class="form-control text-right" type="text" data-val="true" data-val-number="The field DonGia must be a number." data-val-required="The DonGia field is required." id="DuLieuDuLich_DSThucDon_' + numCurent
                    + '__DonGia" name="DuLieuDuLich.DSThucDon[' + numCurent
                    + '].DonGia" value="0.00"></td><td><textarea rows="3" class="form-control" id="DuLieuDuLich_DSThucDon_' + numCurent
                    + '__MoTa" name="DuLieuDuLich.DSThucDon[' + numCurent + '].MoTa"></textarea></td></tr>';

                $("#new-row").append(html);
                $("#rownum").val(numCurent);
            });
            $(".option-huyen").on("change", (function () {
                $.ajax({
                    url: '/Home/ListDiaPhuongByParent/?id=' + $(this).val(),
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var html = "<option data-id='Chọn' value='0'>Chọn</option>";
                        for (let i = 0; i < data.length; i++) {
                            var obj = data[i];
                            html += "<option data-id='" + obj.tenDiaPhuong + "' value=" + obj.id + ">" + obj.tenDiaPhuong + "</option>"
                        }
                        $(".option-xa").html(html);
                    }
                });
            }));
        });
        function updateMarkerPosition(latLng) {
            document.getElementById('DuLieuDuLich_ViTriTrenBanDo').value = [
                latLng.lat(),
                latLng.lng()
            ].join(', ');
        }
    </script>

}
