@{
    ViewData["Title"] = ViewData["Title"];;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TechLife.Common;
@using TechLife.Common.Enums;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model TechLife.App.Areas.HueCIT.Models.SuKienTrinhDien
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;


@section css {
    <link rel="stylesheet" href="~/css/style.css"/>
}
<style>
    #mapgg {
        margin: 0 auto;
        width: 100%;
        height: 300px;
    }

    .custom-file-input {
        height: 100% !important
    }

    .add-images:hover {
        box-shadow: 5px 5px rgba(0, 0, 0, 0.05) !important;
    }
</style>

<div class="content-wrapper" style="min-height: 1363.2px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Dữ liệu chuyên ngành liên thông</li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <form>
                            <div class="card-header">
                                <h3 class="card-title">@ViewData["Title"]</h3>
                                <div class="card-tools">
                                    <a href="@Context.Request.GetBackUrl()" class="btn btn-xs btn-outline-danger">
                                        <i class="fas fa-arrow-circle-left"></i> Quay lại
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-12">
                                    <div class="card card-primary card-outline card-outline-tabs">
                                        <div class="card-header p-0 border-bottom-0">
                                            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Thông tin chung</a>
                                                </li>
                                               <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-image-tab" data-toggle="pill" href="#custom-tabs-four-image" role="tab" aria-controls="custom-tabs-four-image" aria-selected="true">Thông tin hình ảnh, video</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-map-tab" data-toggle="pill" href="#custom-tabs-four-map" role="tab" aria-controls="custom-tabs-four-map" aria-selected="true">Vị trí trên bản đồ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                                <!-- Thông tin hồ sơ -->
                                                <div class="tab-pane fade active show" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    @if (Model != null)
                                                    {
                                                        <div class="form-row">
                                                            <div class="col-md-9">
                                                                <div class="position-relative form-group">
                                                                    <label class="control-label">Tên sự kiện:</label>
                                                                    <span class="d-block">@Model.TieuDe</span>
                                                                </div>
                                                                <div class="d-flex group-3-wrapper">
                                                                    <div class="position-relative form-group">
                                                                        <label class="control-label">Chủ đề:</label>
                                                                        <span class="d-block">@Model.TenChuDe</span>
                                                                    </div>
                                                                    <div class="position-relative form-group">
                                                                        <label class="control-label">Thời gian:</label>
                                                                        <span class="d-block">@Model.BatDau.ToString("dd/MM/yyyy") - @Model.KetThuc.ToString("dd/MM/yyyy")</span>
                                                                    </div>
                                                                    <div class="position-relative form-group">
                                                                        <label class="control-label">Trạng thái:</label>
                                                                        <span class="d-block">
                                                                            @if (Model.TrangThai == false)
                                                                            {
                                                                                <div class="btn btn-sm btn-secondary" style="cursor: default !important;">Hết hiệu lực</div>
                                                                            }
                                                                            else if (Model.TrangThai == true)
                                                                            {
                                                                                <div class="btn btn-sm btn-success" style="cursor: default !important;">Còn hiệu lực</div>
                                                                            }
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="position-relative form-group">
                                                                    <label class="control-label">Địa điểm:</label>
                                                                    <span class="d-block">@Functions.GetFullDiaPhuong(null, Model.DiaDiem, Model.TenPhuongXa, Model.TenQuanHuyen)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="position-relative form-group">
                                                                    <label class="control-label">Nội dung sự kiện:</label>
                                                                    <span class="d-block">@Model.NoiDung</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <!-- Thông tin hình ảnh -->
                                                <div class="tab-pane fade show" id="custom-tabs-four-image" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="tab-content-title mb-2">Hình ảnh</div>
                                                            @{
                                                                <div class="row">
                                                                    @{
                                                                        if (Model.Files != null && Model.Files.Count() > 0)
                                                                        {
                                                                            foreach (var img in Model.Files)
                                                                            {
                                                                                if (img.LoaiFile == 1)
                                                                                { 
                                                                                    <div class="col-6 col-md-3">
                                                                                        <img src="@(Configuration["BaseAddress"] + img.DuongDan)" class="m-img-full mb-2" alt="@img.TenFile" />
                                                                                    </div>
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                </div>
                                                            }

                                                            <div class="tab-content-title mb-2">Video</div>
                                                            @{
                                                                <div class="row">
                                                                    @{
                                                                        if (Model.Files != null && Model.Files.Count() > 0)
                                                                        {
                                                                            foreach (var img in Model.Files)
                                                                            {
                                                                                if (img.LoaiFile == 2)
                                                                                { 
                                                                                    <div class="col-6 col-md-3">
                                                                                        <video class="m-img-full mb-2" controls>
                                                                                          <source src="@(Configuration["BaseAddress"] + img.DuongDan)" type="video/mp4">
                                                                                        </video>
                                                                                    </div>
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Thông tin map -->
                                                <div class="tab-pane fade show" id="custom-tabs-four-map" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <div class="form-row">
                                                        <input type="hidden" id="position-mappx" value="@Model.X"/>
                                                        <input type="hidden" id="position-mappy" value="@Model.Y"/>
                                                        <div class="col-12">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Vị trí trên bản đồ</label>
                                                                <div id="map"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script src="~/js/HueCIT/map.js"></script>
}