@model PagedResult<TechLife.Model.DuLieuDuLich.DuLieuDuLichRpt>
@using TechLife.Common;
@{
    ViewData["Title"] = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    var thongTin = (string[])ViewBag.ThongTin;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title_parent"]</li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <form method="post" style="width:100%">
                            <div class="card-header">
                                <h3 class="card-title">@ViewData["Title"]</h3>
                                <div class="card-tools">
                                    <a href="@Context.Request.GetBackUrl()" class="btn btn-xs btn-outline-danger">
                                        <i class="fas fa-arrow-circle-left"></i> Quay lại
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="5%" class="text-center">STT</th>
                                                @if (thongTin != null && thongTin.Contains("ten"))
                                                {
                                                    <th width="20%" class="text-center">Tên gọi</th>
                                                }
                                                @if (thongTin != null && thongTin.Contains("loaihinh"))
                                                {
                                                    <th width="15%" class="text-center">Loại hình</th>
                                                }
                                                @if (thongTin != null && thongTin.Contains("hangsao"))
                                                {
                                                    <th width="15%" class="text-center">Hạng sao</th>
                                                }
                                                @if (thongTin != null && thongTin.Contains("diachi"))
                                                {
                                                    <th class="text-center">Địa chỉ</th>
                                                }
                                                @if (thongTin != null && thongTin.Contains("sodienthoai"))
                                                {
                                                    <th width="15%" class="text-center">Số điện thoại</th>
                                                }
                                                @if (thongTin != null && thongTin.Contains("email"))
                                                {
                                                    <th width="15%" class="text-center">Email</th>
                                                }
                                                @if (thongTin != null && thongTin.Contains("nguoidaidien"))
                                                {
                                                    <th width="15%" class="text-center">Người đại diện</th>
                                                }
                                                @if (thongTin != null && thongTin.Contains("giayphep"))
                                                {
                                                    <th width="15%" class="text-center">Giấy phép KD</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (Model != null && Model.Items != null)
                                                {
                                                    int stt = 0;
                                                    foreach (var d in Model.Items)
                                                    {
                                                        stt++;
                                                        <tr>
                                                            <td class="text-center">@stt</td>
                                                            @if (thongTin != null && thongTin.Contains("ten"))
                                                            {
                                                                <td nowrap>
                                                                    @d.Ten
                                                                </td>
                                                            }
                                                            @if (thongTin != null && thongTin.Contains("loaihinh"))
                                                            {
                                                                <td nowrap>
                                                                    @d.LoaiHinh
                                                                </td>
                                                            }
                                                            @if (thongTin != null && thongTin.Contains("hangsao"))
                                                            {
                                                                <td nowrap class="text-center">
                                                                    @if (d.HangSao > 0)
                                                                    {
                                                                        <strong class="text-yellow">(@d.HangSao.ToString() <i class="fas fa-star"></i>)</strong>
                                                                    }
                                                                </td>
                                                            }
                                                            @if (thongTin != null && thongTin.Contains("diachi"))
                                                            {
                                                                <td nowrap>
                                                                    @Functions.GetFullDiaPhuong(d.SoNha, d.DuongPho, d.PhuongXa, d.QuanHuyen)
                                                                </td>
                                                            }
                                                            @if (thongTin != null && thongTin.Contains("sodienthoai"))
                                                            {
                                                                <td nowrap>
                                                                    @d.SoDienThoai
                                                                </td>
                                                            }
                                                            @if (thongTin != null && thongTin.Contains("email"))
                                                            {
                                                                <td nowrap>
                                                                    @d.Email
                                                                </td>
                                                            }
                                                            @if (thongTin != null && thongTin.Contains("nguoidaidien"))
                                                            {
                                                                <td nowrap>
                                                                    @d.NguoiDaiDien
                                                                </td>
                                                            }
                                                            @if (thongTin != null && thongTin.Contains("giayphep"))
                                                            {
                                                                <td nowrap>
                                                                    @d.SoGiayPhep
                                                                </td>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td class="text-red" colspan="5">Không có dữ liệu nào trong danh sách</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


