@{
    ViewData["Title"] = ViewData["Title"]; ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model X.PagedList.IPagedList<TechLife.App.Areas.HueCIT.Models.LoaiLeHoiTrinhDien>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using TechLife.Common;

@section css {
    <link rel="stylesheet" href="~/css/style.css" />
}

    <div class="content-wrapper" style="min-height: 1363.2px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Danh mục</li>
                            <li class="breadcrumb-item active">@ViewData["Title"]</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-outline card-primary">
                            <form method="get" style="width:100%">
                                <div class="card-header">
                                    <h3 class="card-title">@ViewData["Title"]</h3>
                                    <div class="card-tools">
                                        <a href="/HueCIT/DanhMuc/ThemLoaiLeHoi" class="btn btn-xs btn-success">
                                            <i class="fas fa-plus-circle"></i> Thêm mới
                                        </a>
                                        <a id="dongBoBtn" asp-area="HueCIT" asp-controller="DanhMuc" asp-action="DongBoDanhMucLeHoi" class="btn btn-xs btn-outline-success">
                                            <i class="fas fa-sync"></i> Đồng bộ
                                        </a>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="5%" class="text-center">STT</th>
                                                        <th class="text-center">Tên</th>
                                                        <th width="15%" class="text-center">Đồng bộ</th>
                                                        <th width="15%" class="text-center">Chức năng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                    if (Model != null)
                                                    {
                                                        int stt = 0;
                                                        foreach (var d in Model)
                                                        {
                                                            stt++;
                                                            <tr>
                                                                <td class="text-center">@stt</td>
                                                                <td class="text-center">@d.Ten</td>
                                                                <td class="text-center">@d.DongBoID</td>
                                                                <td class="text-center">
                                                                    <a title="Sửa loại lễ hội" href="/HueCIT/DanhMuc/SuaLoaiLeHoi?id=@d.Id" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i> Sửa</a>
                                                                    <a title="Xóa loại lễ hội" data-title="Bạn muốn xóa loại lễ hội @d.Ten ?" data-url="/HueCIT/DanhMuc/XoaLoaiLeHoi?id=@d.Id" class="btn btn-danger btn-xs btn-delete"><i class="fas fa-trash"></i> Xóa</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="text-red" colspan="4">Không có dữ liệu nào trong danh sách</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            @{
                                if (Model.PageCount > 1)
                                {
                                    <!-- Phân trang -->
                                    <div class="card-footer">
                                        <div class="m-paging">
                                            @Html.PagedListPager(Model, trang => Url.Action("LoaiLeHoi", new { trang }),
                                    new PagedListRenderOptions{
                                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                    LinkToNextPageFormat = "<i class='fas fa-angle-right'></i>",
                                    LinkToPreviousPageFormat = "<i class='fas fa-angle-left'></i>",
                                    LinkToLastPageFormat = "<i class='fas fa-angle-double-right'></i>",
                                    LinkToFirstPageFormat = "<i class='fas fa-angle-double-left'></i>",
                                    MaximumPageNumbersToDisplay = 3,
                                    EllipsesElementClass = "d-none"
                                    }
                                    )
                                        </div>
                                    </div>
                                    <!-- Kết thúc -->
                                }
                            }
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section scripts{
}