@using TechLife.Common;
@using TechLife.Model.HSCV;
@model PagedResult<VanBanDen>
@{
    ViewData["Title"] = "Danh sách văn bản đến (" + @Context.Request.Query["ngay"] + ") ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title_parent"]</li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <form method="get" style="width:100%">
                            <div class="card-header">
                                <h3 class="card-title">@ViewData["Title"]</h3>
                                <div class="card-tools">
                                    <a href="@Context.Request.GetBackUrl()" class="btn btn-xs btn-outline-danger">
                                        <i class="fas fa-arrow-circle-left"></i> Quay lại
                                    </a>

                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input type="text" value="@Context.Request.Query["ngay"]" name="ngay" class="form-control float-right" id="reservation">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="position-relative form-group">
                                            <input class="form-control" value="@Context.Request.Query["search"]" name="search" />
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="position-relative form-group">
                                            <button type="submit" class="btn btn-primary">Tra cứu</button>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-hover table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="5%" class="text-center">STT</th>
                                                    <th width="15%" class="text-center">Số hiệu</th>
                                                    <th width="15%" class="text-center">Ngày đến</th>
                                                    <th width="15%" class="text-center">Cơ quan gửi</th>
                                                    <th>Trích yếu</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model != null && Model.Items != null)
                                                    {
                                                        int stt = 0;
                                                        <tr>
                                                            <td class="text-blue text-center" colspan="5">Danh sách hiển thị <strong>@Model.Items.Count</strong> trên tổng số <strong>@Model.TotalRecords</strong> dòng </td>
                                                        </tr>
                                                        foreach (var d in Model.Items)
                                                        {
                                                            stt++;
                                                            <tr>
                                                                <td class="text-center">@stt</td>
                                                                <td class="text-center">@d.SoKyHieu</td>
                                                                <td class="text-center">@Functions.GetDatetimeToVn(d.NgayPhatHanh)</td>
                                                                <td>@d.TenCoQuanGui</td>
                                                                <td>@d.TrichYeu</td>

                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="text-red" colspan="5">Không có dữ liệu nào trong danh sách</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            @{
                                if (Model.TotalRecords > Model.PageSize)
                                {
                                    <div class="card-footer">
                                        @await Component.InvokeAsync("Paging", new { page = Model })
                                    </div>
                                }
                            }
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modal-upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" action="/HoSo/Upload_Cosoluutru/">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="File">
                                        <label class="custom-file-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pull-right">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".btn-upload").off("click").on("click", function () {
                $(".modal-title").html("Import dữ liệu cơ sở lưu trú");
                $("#modal-upload").modal("show");
            });
        });
    </script>

}

