@{
    ViewData["Title"] = ViewData["Title"];;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TechLife.Common;
@using TechLife.Common.Enums;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model TechLife.Model.DuLieuDuLich.DuLieuDuLichCreateExtRequest
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;


@section css {
    <link rel="stylesheet" href="~/css/style.css"/>
}
<style>
    #mapgg {
        margin: 0 auto;
        width: 100%;
        height: 300px;
    }

    .custom-file-input {
        height: 100% !important
    }

    .add-images:hover {
        box-shadow: 5px 5px rgba(0, 0, 0, 0.05) !important;
    }
</style>

<div class="content-wrapper" style="min-height: 1363.2px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Hồ sơ</li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <form asp-action="Add" enctype="multipart/form-data">

                            <div class="card-header">
                                <h3 class="card-title">@ViewData["Title"]</h3>
                                <div class="card-tools">
                                    <a href="@Context.Request.GetBackUrl()" class="btn btn-xs btn-outline-danger">
                                        <i class="fas fa-arrow-circle-left"></i> Quay lại
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <input type="hidden" asp-for="DuLieuDuLich.LinhVucKinhDoanhId" value="@Convert.ToInt32(LinhVucKinhDoanh.NhaHang)" />
                                <div class="col-sm-12">
                                    <div class="card card-primary card-outline card-outline-tabs">
                                        <div class="card-header p-0 border-bottom-0">
                                            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Thông tin chung</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-info-tab" data-toggle="pill" href="#custom-tabs-four-info" role="tab" aria-controls="custom-tabs-four-info" aria-selected="false">Bài viết quảng bá</a>
                                                </li>
                                                @*<li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-tiennghi" role="tab" aria-controls="custom-tabs-four-tiennghi" aria-selected="true">Dịch vụ bổ sung</a>
                                                </li>*@
                                                <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Bảng giá thực đơn</a>
                                                </li>
                                                @*<li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Thông tin lao động</a>
                                                </li>*@
                                               <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-image-tab" data-toggle="pill" href="#custom-tabs-four-image" role="tab" aria-controls="custom-tabs-four-image" aria-selected="true">Tư liệu, tài liệu</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-map-tab" data-toggle="pill" href="#custom-tabs-four-map" role="tab" aria-controls="custom-tabs-four-map" aria-selected="true">Vị trí trên bản đồ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                                <!-- Thông tin hồ sơ -->
                                                <div class="tab-pane fade active show" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <div class="form-row">
                                                        <div class="col-md-9">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tên địa điểm ăn uống <span class="text-red">*</span></label>
                                                                <input asp-for="DuLieuDuLich.Ten" class="form-control" data-val-required="Vui lòng nhập tên hồ sơ."/>
                                                                <span asp-validation-for="DuLieuDuLich.Ten" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tên viết tắt</label>
                                                                <input asp-for="DuLieuDuLich.TenVietTat" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.TenVietTat" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Loại địa điểm ăn uống <span class="text-red">*</span></label>
                                                                <select class="form-control" asp-for="DuLieuDuLich.LoaiDiaDiemAnUong" asp-items="ViewBag.listLoaiDiaDiemAnUong" data-val="true">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="DuLieuDuLich.LoaiDiaDiemAnUong" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Loại ẩm thực <span class="text-red">*</span></label>
                                                                <select class="form-control" asp-for="DuLieuDuLich.LoaiHinhId" asp-items="ViewBag.listLoaiNhaHang">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="DuLieuDuLich.LoaiHinhId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Mã doanh nghiệp <span class="text-red">*</span></label>
                                                                <input asp-for="DuLieuDuLich.MaDoanhNghiep" class="form-control" data-val="true" required data-val-required="Vui lòng nhập mã doanh nghiệp."/>
                                                                <span asp-validation-for="DuLieuDuLich.MaDoanhNghiep" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-2">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Số nhà</label>
                                                                <input asp-for="DuLieuDuLich.SoNha" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoNha" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Đường phố</label>
                                                                <input asp-for="DuLieuDuLich.DuongPho" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.DuongPho" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Quận/ huyện/ thị xã <span class="text-red">*</span></label>

                                                                <select class="form-control option-huyen" asp-for="DuLieuDuLich.QuanHuyenId" asp-items="ViewBag.listHuyen" data-val="true">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="DuLieuDuLich.QuanHuyenId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Xã/ phường/ thị trấn </label>
                                                                <select class="form-control option-xa" asp-for="DuLieuDuLich.PhuongXaId" asp-items="ViewBag.listXa">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="DuLieuDuLich.PhuongXaId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Số điện thoại</label>
                                                                <input asp-for="DuLieuDuLich.SoDienThoai" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoDienThoai" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Fax</label>
                                                                <input asp-for="DuLieuDuLich.Fax" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.Fax" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Email</label>
                                                                <input asp-for="DuLieuDuLich.Email" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.Email" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Website</label>
                                                                <input asp-for="DuLieuDuLich.Website" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.Website" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Giờ mở cửa</label>
                                                                <input asp-for="DuLieuDuLich.GioMoCua" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.GioMoCua" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Giờ đóng cửa</label>
                                                                <input asp-for="DuLieuDuLich.GioDongCua" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.GioDongCua" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Phục vụ</label>
                                                                <select class="form-control" asp-for="DuLieuDuLich.PhucVu" asp-items="ViewBag.listPhucVuDiaDiemAnUong">
                                                                </select>
                                                                <span asp-validation-for="DuLieuDuLich.PhucVu" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Công ty, đơn vị chủ quản </label>
                                                                <select asp-for="DuLieuDuLich.NhaCungCapId" asp-items="ViewBag.listNhaCungCap" class="form-control">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="DuLieuDuLich.NhaCungCapId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Họ và tên (Người đại diện)</label>
                                                                <input asp-for="DuLieuDuLich.HoTenNguoiDaiDien" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.HoTenNguoiDaiDien" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Chức vụ</label>
                                                                <input asp-for="DuLieuDuLich.ChucVuNguoiDaiDien" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.ChucVuNguoiDaiDien" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Số điện thoại</label>
                                                                <input asp-for="DuLieuDuLich.SoDienThoaiNguoiDaiDien" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoDienThoaiNguoiDaiDien" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Số GPDK kinh doanh</label>
                                                                <input asp-for="DuLieuDuLich.SoGiayPhep" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoGiayPhep" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Thời điểm bắt đầu kinh doanh</label>
                                                                <input asp-for="DuLieuDuLich.ThoiDiemBatDauKinhDoanh" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.ThoiDiemBatDauKinhDoanh" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Số lần chuyển chủ</label>
                                                                <input asp-for="DuLieuDuLich.SoLanChuyenChu" type="number" value="0" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLanChuyenChu" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <label class="control-label"></label>
                                                            <div class="form-check">
                                                                <input input asp-for="DuLieuDuLich.IsDatChuan" type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                <label class="form-check-label" for="exampleCheck1"><strong>Cơ sở đạt chuẩn</strong></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Số VB đạt chuẩn</label>
                                                                <input asp-for="DuLieuDuLich.SoCVDatChuan" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoCVDatChuan" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Ngày công nhận</label>
                                                                <input asp-for="DuLieuDuLich.NgayCVDatChuan" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.NgayCVDatChuan" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tổng số vốn đầu tư ban đầu (1000 VNĐ)</label>
                                                                <input asp-for="DuLieuDuLich.TongVonDauTuBanDau" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.TongVonDauTuBanDau" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tổng số vốn đầu tư bổ sung</label>
                                                                <input asp-for="DuLieuDuLich.TongVonDauTuBanDau" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.TongVonDauTuBanDau" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Diện tích mặt bằng (m2)</label>
                                                                <input asp-for="DuLieuDuLich.DienTichMatBang" type="number" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.DienTichMatBang" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Diện tích mặt bằng xây dựng (m2)</label>
                                                                <input asp-for="DuLieuDuLich.DienTichMatBangXayDung" type="number" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.DienTichMatBangXayDung" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Số tầng</label>
                                                                <input asp-for="DuLieuDuLich.SoTang" type="number" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.SoTang" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tổng diện tích xây dựng (m2)</label>
                                                                <input asp-for="DuLieuDuLich.DienTichXayDung" type="number" value="0" class="form-control text-right" />
                                                                <span asp-validation-for="DuLieuDuLich.DienTichXayDung" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @if (Model.DuLieuDuLich.DSVanBan != null && Model.DuLieuDuLich.DSVanBan.Count > 0)
                                                    {
                                                        <label class="control-label">Hồ sơ gồm có:</label>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <table class="table-bordered table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="tcenter" width="15%"></th>
                                                                            <th>Tên gọi</th>
                                                                            <th width="30%" class="tcenter">File</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @for (int i = 0; i < Model.DuLieuDuLich.DSVanBan.Count; i++)
                                                                        {
                                                                            <tr>
                                                                                <td class="tcenter">
                                                                                    <input type="checkbox" asp-for="@Model.DuLieuDuLich.DSVanBan[i].IsStatus" />
                                                                                </td>
                                                                                <td>
                                                                                    <input hidden class="form-control" type="text" asp-for="@Model.DuLieuDuLich.DSVanBan[i].GiayPhepId" />
                                                                                    <input hidden class="form-control" type="text" asp-for="@Model.DuLieuDuLich.DSVanBan[i].TenGoi" />
                                                                                    @Model.DuLieuDuLich.DSVanBan[i].TenGoi
                                                                                </td>

                                                                                <td class="tcenter">
                                                                                    <div class="input-group">
                                                                                        <div class="custom-file">
                                                                                            <input asp-for="@Model.DuLieuDuLich.DSVanBan[i].Files" class="custom-file-input" id="customFile">
                                                                                            <label class="custom-file-label" for="customFile"></label>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <!-- /.col -->
                                                        </div>

                                                    }

                                                </div>
                                                <!-- Thông tin tiện nghi -->
                                                <div class="tab-pane fade" id="custom-tabs-four-tiennghi" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                                    @{
                                                        if (Model.DuLieuDuLich.DSTienNghi != null)
                                                        {
                                                            <table class="table-condensed table-bordered table">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center" width="5%"><label><input class="ckAll" type="checkbox" /></label></th>
                                                                        <th>Tiện nghi</th>
                                                                        <th class="text-center" width="10%">Phụ phí</th>
                                                                        <th class="text-center" width="15%">Đơn giá</th>
                                                                        <th class="text-center" width="15%">Quy mô/Số lượng</th>
                                                                        <th class="text-center" width="15%">Đơn vị tính</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int count = 0;
                                                                        for (int i = 0; i < Model.DuLieuDuLich.DSTienNghi.Count; i++)
                                                                        {
                                                                            count++;
                                                                            <tr>
                                                                                <td class="text-center"><label><input asp-for="@Model.DuLieuDuLich.DSTienNghi[i].IsSuDung" type="checkbox" class="ckTienNghiID" /></label></td>
                                                                                <td>
                                                                                    @Model.DuLieuDuLich.DSTienNghi[i].TienNghi.Ten
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSTienNghi[i].TienNghi.Id" class="form-control text-right" />
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSTienNghi[i].TienNghi.Ten" class="form-control text-right" />
                                                                                </td>
                                                       
                                                                                <td class="text-center"><label><input asp-for="@Model.DuLieuDuLich.DSTienNghi[i].IsPhuPhi" type="checkbox" /></label></td>
                                                                                <td class="text-center"><input asp-for="@Model.DuLieuDuLich.DSTienNghi[i].DonGia" class="form-control text-right" /></td>
                                                                                <td class="text-center"><input asp-for="@Model.DuLieuDuLich.DSTienNghi[i].SoLuong" class="form-control text-right" type="number" /></td>
                                                                                <td><select asp-for="@Model.DuLieuDuLich.DSTienNghi[i].TienNghi.DonViTinhId" class="form-control" asp-items="ViewBag.listDonViTinh"></select></td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>

                                                        }
                                                    }
                                                </div>
                                                <!-- Thông tin bài viết quảng bá -->
                                                <div class="tab-pane fade" id="custom-tabs-four-info" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                                    <textarea asp-for="DuLieuDuLich.GioiThieu" id="baiVietQuangBa"></textarea>
                                                </div>
                                                <!-- Thông tin giá thực đơn -->
                                                <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                                    @{
                                                        if (Model.DuLieuDuLich.DSThucDon != null)
                                                        {
                                                            <table class="table-condensed table-bordered table-responsive table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Tên</th>
                                                                        <th width="20%">Đơn giá</th>
                                                                        <th width="40%">Menu</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="new-row">
                                                                    @{
                                                                        for (int i = 0; i < Model.DuLieuDuLich.DSThucDon.Count(); i++)
                                                                        {
                                                                            <tr>
                                                                                <td style="vertical-align: middle;">
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSThucDon[i].Id" class="form-control text-right" />
                                                                                    <input asp-for="@Model.DuLieuDuLich.DSThucDon[i].TenThucDon" class="form-control" />
                                                                                </td>
                                                                                <td style="vertical-align: middle;">
                                                                                    <input asp-for="@Model.DuLieuDuLich.DSThucDon[i].DonGia" class="form-control text-right" />
                                                                                </td>
                                                                                <td>
                                                                                    <textarea rows="3" asp-for="@Model.DuLieuDuLich.DSThucDon[i].MoTa" class="form-control"></textarea>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="3" class="text-right">
                                                                            <input type="hidden" id="rownum" value="0" />
                                                                            <button type="button" class="btn btn-success add-rows">Thêm dòng</button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        }
                                                    }
                                                </div>
                                                <!-- Thông tin lao động -->
                                                <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tổng số</label>
                                                                <input asp-for="DuLieuDuLich.SoLuongLaoDong" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLuongLaoDong" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Độ tuổi trung bình Nam</label>
                                                                <input asp-for="DuLieuDuLich.DoTuoiTBNam" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.DoTuoiTBNam" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Độ tuổi trung bình Nữ</label>
                                                                <input asp-for="DuLieuDuLich.DoTuoiTBNu" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.DoTuoiTBNu" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">LĐ Việt Nam có giới tính Nam</label>
                                                                <input asp-for="DuLieuDuLich.SoLDNamTrongNuoc" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLDNamTrongNuoc" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">LĐ Việt Nam có giới tính Nữ</label>
                                                                <input asp-for="DuLieuDuLich.SoLDNuTrongNuoc" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLDNuTrongNuoc" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">LĐ Nước ngoài có giới tính Nam</label>
                                                                <input asp-for="DuLieuDuLich.SoLDNamNgoaiNuoc" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLDNamNgoaiNuoc" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">LĐ Nước ngoài có giới tính Nữ</label>
                                                                <input asp-for="DuLieuDuLich.SoLDNuNgoaiNuoc" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLDNuNgoaiNuoc" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">LĐ trực tiếp</label>
                                                                <input asp-for="DuLieuDuLich.SoLDTrucTiep" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLDTrucTiep" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">LĐ gián tiếp</label>
                                                                <input asp-for="DuLieuDuLich.SoLDGianTiep" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLDGianTiep" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">LĐ Thường xuyên</label>
                                                                <input asp-for="DuLieuDuLich.SoLDThuongXuyen" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLDThuongXuyen" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">LĐ Thời vụ</label>
                                                                <input asp-for="DuLieuDuLich.SoLDThoiVu" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.SoLDThoiVu" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    @{
                                                        if (Model.DuLieuDuLich.DSBoPhan != null)
                                                        {
                                                            <strong>Số lượng lao động ở các bộ phận</strong>
                                                            <hr />
                                                            <table class="table-condensed table-bordered table">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="5%">#</th>
                                                                        <th>Bộ phận</th>
                                                                        <th width="25%">Số lượng</th>
                                                                        <th width="25%">Đơn vị tính</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int count = 0;
                                                                        for (int i = 0; i < Model.DuLieuDuLich.DSBoPhan.Count(); i++)
                                                                        {
                                                                            count++;
                                                                            <tr>
                                                                                <td class="text-center">@count</td>
                                                                                <td>
                                                                                    @Model.DuLieuDuLich.DSBoPhan[i].BoPhan.TenBoPhan
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSBoPhan[i].BoPhan.Id" class="form-control text-right" />
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSBoPhan[i].BoPhan.TenBoPhan" class="form-control text-right" />
                                                                                </td>
                                                                                <td>
                                                                                    <input asp-for="@Model.DuLieuDuLich.DSBoPhan[i].SoLuong" type="number" class="form-control text-right" />
                                                                                </td>
                                                                                <td>
                                                                                    <select class="form-control select2" asp-for="@Model.DuLieuDuLich.DSBoPhan[i].DonViTinhId" asp-items="ViewBag.listDonViTinh">
                                                                                        <option value="0">---</option>
                                                                                    </select>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>

                                                        }
                                                    }

                                                    @{
                                                        if (Model.DuLieuDuLich.DSTrinhDo != null)
                                                        {
                                                            <strong> Trình độ của lao động</strong>
                                                            <hr />
                                                            <table class="table-condensed table-bordered table">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="5%">#</th>
                                                                        <th>Trình độ</th>
                                                                        <th width="25%">Số lượng</th>
                                                                        <th width="25%">Đơn vị tính</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int count = 0;
                                                                        for (int i = 0; i < Model.DuLieuDuLich.DSTrinhDo.Count(); i++)
                                                                        {
                                                                            count++;
                                                                            <tr>
                                                                                <td class="text-center">@count</td>
                                                                                <td>
                                                                                    @Model.DuLieuDuLich.DSTrinhDo[i].TrinhDo.TenTrinhDo
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSTrinhDo[i].TrinhDo.Id" class="form-control text-right" />
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSTrinhDo[i].TrinhDo.TenTrinhDo" class="form-control text-right" />
                                                                                </td>
                                                                                <td>
                                                                                    <input asp-for="@Model.DuLieuDuLich.DSTrinhDo[i].SoLuong" type="number" class="form-control text-right" />
                                                                                </td>
                                                                                <td>
                                                                                    <select class="form-control select2" asp-for="@Model.DuLieuDuLich.DSTrinhDo[i].DonViTinhId" asp-items="ViewBag.listDonViTinh">
                                                                                        <option value="0">---</option>
                                                                                    </select>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>

                                                        }
                                                    }

                                                    @{
                                                        if (Model.DuLieuDuLich.DSNgoaiNgu != null)
                                                        {
                                                            <strong> Số lượng lao động sử dụng được các ngôn ngữ</strong>
                                                            <hr />
                                                            <table class="table-condensed table-bordered table">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="5%">#</th>
                                                                        <th>Ngoại ngữ</th>
                                                                        <th width="25%">Số lượng</th>
                                                                        <th width="25%">Đơn vị tính</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int count = 0;
                                                                        for (int i = 0; i < Model.DuLieuDuLich.DSNgoaiNgu.Count(); i++)
                                                                        {
                                                                            count++;
                                                                            <tr>
                                                                                <td class="text-center">@count</td>
                                                                                <td>
                                                                                    @Model.DuLieuDuLich.DSNgoaiNgu[i].NgoaiNgu.TenNgoaiNgu
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSNgoaiNgu[i].NgoaiNgu.Id" class="form-control text-right" />
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSNgoaiNgu[i].NgoaiNgu.TenNgoaiNgu" class="form-control text-right" />
                                                                                </td>
                                                                                <td>
                                                                                    <input asp-for="DuLieuDuLich.DSNgoaiNgu[i].SoLuong" class="form-control text-right" />
                                                                                </td>
                                                                                <td>
                                                                                    <select class="form-control select2" asp-for="@Model.DuLieuDuLich.DSNgoaiNgu[i].DonViTinhId" asp-items="ViewBag.listDonViTinh">
                                                                                        <option value="0">---</option>
                                                                                    </select>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>

                                                        }
                                                    }

                                                    @{
                                                        if (Model.DuLieuDuLich.DSMucDoTTNN != null)
                                                        {
                                                            <strong> Mức độ thành thạo ngôn ngữ của lao động</strong>
                                                            <hr />
                                                            <table class="table-condensed table-bordered table">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="5%">#</th>
                                                                        <th>Mức độ thành thạo các ngôn ngữ</th>
                                                                        <th width="25%">Số lượng</th>
                                                                        <th width="25%">Đơn vị tính</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int count = 0;
                                                                        for (int i = 0; i < Model.DuLieuDuLich.DSMucDoTTNN.Count(); i++)
                                                                        {
                                                                            count++;
                                                                            <tr>
                                                                                <td class="text-center">@count</td>
                                                                                <td>
                                                                                    @Model.DuLieuDuLich.DSMucDoTTNN[i].MucDoThongThao.MucDo
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSMucDoTTNN[i].MucDoThongThao.Id" class="form-control text-right" />
                                                                                    <input type="hidden" asp-for="@Model.DuLieuDuLich.DSMucDoTTNN[i].MucDoThongThao.MucDo" class="form-control text-right" />
                                                                                </td>
                                                                                <td>
                                                                                    <input asp-for="@Model.DuLieuDuLich.DSMucDoTTNN[i].SoLuong" class="form-control text-right" />
                                                                                </td>
                                                                                <td>
                                                                                    <select class="form-control select2" asp-for="@Model.DuLieuDuLich.DSMucDoTTNN[i].DonViTinhId" asp-items="ViewBag.listDonViTinh">
                                                                                        <option value="0">---</option>
                                                                                    </select>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>

                                                        }
                                                    }
                                                </div>
                                                <!-- Thông tin hình ảnh -->
                                                <div class="tab-pane fade show" id="custom-tabs-four-image" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <div class="row" id="images">
                                                        <div class="col-12 m-add-images">
                                                            <div class="position-relative form-group add-images" id="img_1" style="background-image: url('https://i.stack.imgur.com/mwFzF.png');background-size: cover;height: 175px ">
                                                                <input asp-for="Images.Images[0].Images" type="file" data-id="1" class="form-control custom-file-input upload-image btn" />
                                                                <i data-parent="img_1" class="fas fa-times upload-remove d-none"></i>
                                                            </div>
                                                            <div class="position-relative form-group mt-file">
                                                                <label class="control-label">Mô tả </label>
                                                                <textarea class="form-control" asp-for="Images.Images[0].MoTa" type="text" rows="3"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Thông tin map -->
                                                <div class="tab-pane fade show" id="custom-tabs-four-map" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <div class="form-row">
                                                        @*<div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Giờ mở cửa</label>
                                                                <input asp-for="DuLieuDuLich.GioMoCua" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.GioMoCua" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Giờ đóng cửa</label>
                                                                <input asp-for="DuLieuDuLich.GioDongCua" class="form-control" />
                                                                <span asp-validation-for="DuLieuDuLich.GioDongCua" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Giới thiệu</label>
                                                                <textarea asp-for="DuLieuDuLich.GioiThieu" class="form-control"> </textarea>
                                                                <span asp-validation-for="DuLieuDuLich.GioiThieu" class="text-danger"></span>
                                                            </div>
                                                        </div>*@
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tọa độ X</label>
                                                                <input asp-for="DuLieuDuLich.ToaDoX" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tọa độ Y</label>
                                                                <input asp-for="DuLieuDuLich.ToaDoY" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Vị trí trên bản đồ</label>
                                                                <div id="map"></div>
                                                                @*<input type="hidden" class="position-mapp" asp-for="DuLieuDuLich.ViTriTrenBanDo" />*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="float-right">
                                    <button type="submit" name="type_sumit" value="save" class="btn btn-primary">Lưu</button>
                                    <button type="submit" name="type_sumit" value="save_create" class="btn btn-primary">Lưu và thêm mới</button>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script src="~/js/HueCIT/map.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function imageIsLoadedCustom(num, e) {
                var id = "img_" + num;
                document.getElementById(id).style.backgroundImage = "url('" + e.target.result + "')";
                var next = num + 1;
                var html =  `
                                <div class="col-12 m-add-images">
                                    <div class="position-relative form-group add-images" id="img_${next}" style="background-image: url(\'https://i.stack.imgur.com/mwFzF.png\');height: 175px;background-size: cover ">
                                        <label class="control-label"></label>
                                        <input name="Images.Images[${num}].Images" id="Images.Images[${num}].Images" type="file" data-id="${next}" class="form-control custom-file-input upload-image" />
                                        <i data-parent="img_${next}" class="fas fa-times upload-remove d-none"></i>
                                    </div>
                                    <div class="position-relative form-group mt-file">
                                        <label class="control-label">Mô tả </label>
                                        <textarea class="form-control" name="Images.Images[${num}].MoTa" id="Images.Images[${num}].MoTa" type="text" rows="3"></textarea>
                                    </div>
                                </div>
                            `;
                $("#images").append(html);
                $(".upload-image").off("change").on("change", (function () {
                    if (this.files && this.files[0]) {
                        var reader = new FileReader();
                        var number = $(this).data("id");
                        reader.onload = imageIsLoadedCustom.bind(reader, number);
                        reader.readAsDataURL(this.files[0]);
                        $('.upload-remove[data-parent="img_' + number + '"]').removeClass('d-none');
                    }
                }));

            };

            $(".upload-image").off("change").on("change", (function () {
                if (this.files && this.files[0]) 
                {
                    var reader = new FileReader();
                    var number = $(this).data("id");
                    reader.onload = imageIsLoadedCustom.bind(reader, number);
                    reader.readAsDataURL(this.files[0]);
                    $('.upload-remove[data-parent="img_' + number + '"]').removeClass('d-none');
                }
            }));

            $(document).on( "click", ".upload-remove", function() {
                let pa = $(this).attr('data-parent');
                if(pa) {
                    $('#' + pa + '').parent().remove();
                }
            });

            $(".ckAll").off("change").on("change", (function () {
            var isChecked =$(this).is(':checked');
            var checkbox = document.getElementsByClassName("ckTienNghiID");
            for(var i=0;i<checkbox.length;i++) {
                if(!isChecked){
                    checkbox[i].checked =false;
                }
                else checkbox[i].checked =true;
            }
            }));

            $(".add-rows").off("click").on("click", function () {
                var numCurent = parseInt($("#rownum").val()) + 1;

                var html = '<tr><td style="vertical-align: middle;"><input type="hidden" class="form-control text-right" data-val="true" data-val-required="The Id field is required." id="DuLieuDuLich_DSThucDon_0__Id" name="DuLieuDuLich.DSThucDon[' + numCurent
                    + '].Id" value="0"><input class="form-control" type="text" id="DuLieuDuLich_DSThucDon_0__TenThucDon" name="DuLieuDuLich.DSThucDon[' + numCurent
                    + '].TenThucDon" value=""></td><td style="vertical-align: middle;"><input class="form-control text-right" type="text" data-val="true" data-val-number="The field DonGia must be a number." data-val-required="The DonGia field is required." id="DuLieuDuLich_DSThucDon_' + numCurent
                    + '__DonGia" name="DuLieuDuLich.DSThucDon[' + numCurent
                    + '].DonGia" value="0.00"></td><td><textarea rows="3" class="form-control" id="DuLieuDuLich_DSThucDon_' + numCurent
                    + '__MoTa" name="DuLieuDuLich.DSThucDon[' + numCurent + '].MoTa"></textarea></td></tr>';

                $("#new-row").append(html);
                $("#rownum").val(numCurent);
            });

            $(".option-huyen").on("change", (function () {
                $.ajax({
                    url: '/Home/ListDiaPhuongByParent/?id=' + $(this).val(),
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var html = "<option data-id='Chọn' value='0'>Chọn</option>";
                        for (let i = 0; i < data.length; i++) {
                            var obj = data[i];
                            html += "<option data-id='" + obj.tenDiaPhuong + "' value=" + obj.id + ">" + obj.tenDiaPhuong + "</option>"
                        }
                        $(".option-xa").html(html);
                    }
                });
            }));

            $('#baiVietQuangBa').summernote({
                height: 400
            });
        });
    </script>
}