@{
    ViewData["Title"] = ViewData["Title"]; ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TechLife.Common;
@using TechLife.Model.DuLieuDuLich;
@model PagedResult<DuLieuDuLichModel>


@section css {
    <link rel="stylesheet" href="~/css/style.css" />
}

    <div class="content-wrapper" style="min-height: 1363.2px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Dữ liệu dịch vụ du lịch</li>
                            <li class="breadcrumb-item active">@ViewData["Title"]</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-outline card-primary">
                            <form method="get" style="width:100%">
                                <div class="card-header">
                                    <h3 class="card-title">@ViewData["Title"]</h3>
                                    <div class="card-tools">
                                        <a href="@Context.Request.GetBackUrl()" class="btn btn-xs btn-outline-danger">
                                            <i class="fas fa-arrow-circle-left"></i> Quay lại
                                        </a>
                                    @if (User.IsInRole("create_diadiemanuong") || User.IsInRole("root"))
                                    {
                                        <a href="/HueCIT/DiaDiemAnUong/Add" class="btn btn-xs btn-success">
                                            <i class="fas fa-plus-circle"></i> Thêm mới
                                        </a>
                                    }
                                    <a asp-area="HueCIT" asp-controller="DiaDiemAnUong" asp-action="DongBo" class="btn btn-xs btn-outline-success">
                                        <i class="fas fa-sync"></i> Đồng bộ thông tin
                                    </a>
                                    <a asp-area="HueCIT" asp-controller="DiaDiemAnUong" asp-action="DongBo" class="btn btn-xs btn-outline-success">
                                        <i class="fas fa-sync"></i> Đồng bộ không gian
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="position-relative form-group">
                                            <label class="control-label">Loại địa điểm ăn uống</label>
                                            <select onchange="this.form.submit()" class="form-control" id="loaihinh" name="loaihinh" asp-items="ViewBag.listLoaiDiaDiemAnUong">
                                                <option value="-1">Tất cả</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="position-relative form-group">
                                            <label class="control-label">Quận, huyện, thành phố</label>
                                            <select onchange="this.form.submit()" class="form-control" id="huyen" name="huyen" asp-items="ViewBag.listHuyen">
                                                <option value="-1">Tất cả</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label class="control-label">Địa điểm ăn uống</label>
                                            <select onchange="this.form.submit()" class="form-control" id="namenhahang" name="name" asp-items="ViewBag.listGetAllDiaDiemAnUong">
                                                <option value="-1">Tất cả</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label class="control-label">Phục vụ tại chỗ</label>
                                            <select onchange="this.form.submit()" class="form-control" id="phucvu" name="phucvu" asp-items="ViewBag.listPhucVuDiaDiemAnUong">
                                                <option value="-1">Tất cả</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="position-relative form-group">
                                            <label class="control-label">Đồng bộ</label>
                                            <select onchange="this.form.submit()" class="form-control" id="nguon" name="nguon" asp-items="ViewBag.listNguonDongBo">
                                                <option value="-1">tất cả</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-hover table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="5%" class="text-center">STT</th>
                                                    <th width="20%" class="text-center">Loại địa điểm ăn uống</th>
                                                    <th>Địa điểm ăn uống</th>
                                                    <th width="5%" class="text-center">Bản đồ</th>
                                                    <th width="15%" class="text-center">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model != null && Model.Items != null)
                                                    {
                                                        int stt = 0;
                                                        <tr>
                                                            <td class="text-blue text-center" colspan="5">Danh sách hiển thị <strong>@Model.Items.Count</strong> trên tổng số <strong>@Model.TotalRecords</strong> dòng </td>
                                                        </tr>
                                                        foreach (var d in Model.Items)
                                                        {
                                                            stt++;
                                                            <tr>
                                                                <td class="text-center">@stt</td>
                                                                <td class="text-center">
                                                                    @d.LoaiDiaDiem.TenLoai <br />
                                                                </td>
                                                                <td>
                                                                    <strong>
                                                                        <a href="/HueCIT/DiaDiemAnUong/Detail?id=@HashUtil.EncodeID(d.Id.ToString())">
                                                                            @d.Ten
                                                                        </a>
                                                                    </strong>
                                                                    <br /><strong>Địa chỉ:</strong> @Functions.GetFullDiaPhuong(d.SoNha, d.DuongPho, d.PhuongXa, d.QuanHuyen)
                                                                    <br /><strong>Thời gian phục vụ:</strong> @d.GioMoCua - @d.GioDongCua
                                                                    <br />
                                                                    @if (d.PhucVu != null)
                                                                    {
                                                                        if (d.PhucVu == 0)
                                                                        {
                                                                            <div class="btn btn-outline-warning btn-xs m-tag">Mang về</div>
                                                                        }
                                                                        else if (d.PhucVu == 1)
                                                                        {
                                                                            <div class="btn btn-outline-success btn-xs m-tag">Tại chỗ</div>
                                                                        }
                                                                        else if (d.PhucVu == 2)
                                                                        {
                                                                            <div class="btn btn-outline-warning btn-xs mr-2 m-tag">Mang về</div>

                                                                            <div class="btn btn-outline-success btn-xs m-tag">Tại chỗ</div>
                                                                        }
                                                                    }
                                                                </td>
                                                                <td class="text-center">
                                                                    @if (d.ToaDoX != null && d.ToaDoX != 0 && d.ToaDoY != null && d.ToaDoY != 0)
                                                                    {
                                                                        <input type="checkbox" checked onclick="return false;" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" onclick="return false;" />
                                                                    }
                                                                </td>
                                                                <td class="text-center">
                                                                    @if (User.IsInRole("edit_diadiemanuong") || User.IsInRole("root"))
                                                                    {
                                                                        <a title="Sửa địa điểm ăn uống" href="/HueCIT/BanDo/Edit/?id=@HashUtil.EncodeID(d.Id.ToString())" class="btn btn-info btn-xs"><i class="fas fa-map"></i> Bản đồ</a>

                                                                    }
                                                                    @if (User.IsInRole("edit_diadiemanuong") || User.IsInRole("root"))
                                                                    {
                                                                        <a title="Sửa địa điểm ăn uống" href="/HueCIT/DiaDiemAnUong/Edit?id=@HashUtil.EncodeID(d.Id.ToString())" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i> Sửa</a>

                                                                    }
                                                                    @if (User.IsInRole("delete_diadiemanuong") || User.IsInRole("root"))
                                                                    {
                                                                        <a title="Xóa địa điểm ăn uống" data-title="Bạn muốn xóa hồ sơ @d.Ten ?" data-url="/HueCIT/DiaDiemAnUong/Delete?id=@HashUtil.EncodeID(d.Id.ToString())" class="btn btn-danger btn-xs btn-delete"><i class="fas fa-trash"></i> Xóa</a>

                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="text-red" colspan="5">Không có dữ liệu nào trong danh sách</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            @{
                                if (Model.TotalRecords > Model.PageSize)
                                {
                                    <div class="card-footer">
                                        @await Component.InvokeAsync("Paging", new { page = Model })
                                    </div>
                                }
                            }
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section scripts{
}