@using Microsoft.AspNetCore.Http.Extensions
@using TechLife.Common
@using TechLife.Common.Extension
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model List<TechLife.App.Models.MenuViewModel>
@{
    var user = (UserLoginVm)ViewBag.User;
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        @if (!String.IsNullOrEmpty(user.AvartarUrl))
        {
            <img src="@(user.AvartarUrl)" class="brand-image img-circle elevation-3" style="opacity: .8;width: 35px;height: 35px;">
        }
        else
        {
            <img src="~/img/avata_blank.png" class="brand-image img-circle elevation-3" style="opacity: .8; width: 35px; height: 35px;">
        }

        <span class="brand-text font-weight-light">@(user.FullName)</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @{

                    string url_curent = TempData.GetTempData(SystemConstants.UrlIndex);

                    string url = Context.Request.Path.ToString() + Context.Request.QueryString.ToString();

                    if (Model.Any(v => v.Url == Context.Request.Path.ToString()) || Model.Any(v => v.Url == url))
                    {
                        url_curent = url;
                    }

                    TempData.AddTempData(SystemConstants.UrlIndex, url_curent);

                    var list = Model.Where(v => v.GroupId == 0).ToList();
                    foreach (var d in list)
                    {
                        var list_chirld = Model.Where(v => v.GroupId == d.Id).ToList();
                        if (list_chirld.Count() > 0)
                        {
                            var active_chirld = list_chirld.Where(v => v.GroupId == d.Id && v.Url == url_curent).ToList();

                            string active = active_chirld.Count() > 0 ? "active" : "";
                            string open = active_chirld.Count() > 0 ? "menu-is-opening menu-open" : "";

                            <li class="nav-item @open">
                                <a href="@d.Url" class="nav-link @active">
                                    <i class="nav-icon fas @d.Icon"></i>
                                    <p>
                                        @d.Name
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @{
                                        foreach (var c in list_chirld)
                                        {
                                            active = c.Url == url_curent ? "active" : "";
                                            <li class="nav-item">
                                                <a href="@c.Url" class="nav-link @active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@c.Name</p>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            string active = d.Url == url_curent ? "active" : "";
                            <li class="nav-item">
                                <a href="@d.Url" class="nav-link @active">
                                    <i class="nav-icon fas @d.Icon"></i>
                                    <p>
                                        @d.Name
                                    </p>
                                </a>
                            </li>
                        }
                    }
                }


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>