@using TechLife.Common;
@using TechLife.Model;
@model List<DanhMucModel>
@{
    ViewData["Title"] = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title_parent"]</li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <form id="form" method="get" style="width:100%">
                            <div class="card-header">
                                <h3 class="card-title">@ViewData["Title"]</h3>
                                <div class="card-tools">
                                    <a href="/Danhmuc/Themdanhmuc/?act=diemdulich" class="btn btn-xs btn-success">
                                        <i class="fas fa-plus-circle"></i> Thêm mới
                                    </a>
                                    <a id="dongBoBtn" asp-controller="DanhMuc" asp-action="DongBoDanhMucDiemDuLich" class="btn btn-xs btn-outline-success">
                                        <i class="fas fa-sync"></i> Đồng bộ
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2 mb-3">
                                        <select class="form-control select2 form-value" asp-items="ViewBag.NgonNguOptions" name="NgonNgu"></select>
                                    </div>
                                </div>
                                <table class="table-hover table-striped table-bordered table">
                                    <thead>
                                        <tr>
                                            <th width="5%" class="text-center">STT</th>
                                            <th width="30%" class="text-center">Tên</th>
                                            <th>Mô tả</th>
                                            <th width="10%" class="text-center">Đồng bộ ID</th>
                                            <th width="15%" class="text-center">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model != null && Model != null)
                                            {
                                                int stt = 0;
                                                foreach (var d in Model)
                                                {
                                                    stt++;
                                                    <tr>
                                                        <td class="text-center">@stt</td>
                                                        <td>@d.Ten</td>
                                                        <td>@d.MoTa</td>
                                                        <td class="text-center">@d.DongBoID</td>
                                                        <td class="text-center">
                                                            <a title="Sửa danh mục" href="/Danhmuc/Suadanhmuc/?act=diemdulich&id=@HashUtil.EncodeID(d.Id.ToString())" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i> Sửa</a>
                                                            <a title="Xóa danh mục" data-title="Bạn muốn xóa @d.Ten ?" data-url="/Danhmuc/Xoadanhmuc/?act=diemdulich&id=@HashUtil.EncodeID(d.Id.ToString())" class="btn btn-danger btn-xs btn-delete"><i class="fas fa-trash"></i> Xóa</a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section scripts
{
    <script>
        $('.form-value').change(() => {
            $('#form').submit();
        })
    </script>
}

