@using TechLife.Common;
@using TechLife.Common.Enums;
@using TechLife.Model.GiayPhepChungChi;
@model PagedResult<GiayPhepVm>
@{
    ViewData["Title"] = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title_parent"]</li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <form method="get" style="width:100%">
                            <div class="card-header">
                                <h3 class="card-title">@ViewData["Title"]</h3>
                                <div class="card-tools">
                                    <a href="@Context.Request.GetBackUrl()" class="btn btn-xs btn-outline-danger">
                                        <i class="fas fa-arrow-circle-left"></i> Quay lại
                                    </a>
                                    <a href="/Danhmuc/Themloaigiayphep/" class="btn btn-xs btn-success">
                                        <i class="fas fa-plus-circle"></i> Thêm mới
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Lĩnh vực</label>
                                            <select onchange="this.form.submit()" class="form-control" id="loaihinh" name="loaihinh" asp-items="ViewBag.listLinhVucKinhDoanh">
                                                <option value="-1">tất cả</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Ngôn ngữ</label>
                                            <select onchange="this.form.submit()" class="form-control" name="NgonNgu" asp-items="ViewBag.NgonNguOptions"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table-hover table-striped table-bordered table">
                                            <thead>
                                                <tr>
                                                    <th width="5%" class="text-center">STT</th>
                                                    <th>Thông tin loại văn bản liên quan</th>
                                                    <th width="35%" class="text-center">Lĩnh vực áp dụng</th>
                                                    <th width="15%" class="text-center">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model != null && Model.Items != null)
                                                    {
                                                        int stt = (Model.PageIndex - 1) * Model.PageSize ;
                                                        <tr>
                                                            <td class="text-blue text-center" colspan="5">Danh sách hiển thị <strong>@Model.Items.Count</strong> trên tổng số <strong>@Model.TotalRecords</strong> dòng </td>
                                                        </tr>
                                                        foreach (var d in Model.Items)
                                                        {
                                                            stt++;
                                                            <tr>
                                                                <td class="text-center">@stt</td>

                                                                <td>
                                                                    @d.Ten
                                                                </td>
                                                                <td>
                                                                    @{
                                                                        var arr = d.LinhVucId.Split(',');
                                                                        for (int i = 0; i < arr.Length; i++)
                                                                        {
                                                                            string name = Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.CoSoLuuTru ? StringEnum.GetStringValue(LinhVucKinhDoanh.CoSoLuuTru) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.NhaHang ? StringEnum.GetStringValue(LinhVucKinhDoanh.NhaHang) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.DiemDuLich ? StringEnum.GetStringValue(LinhVucKinhDoanh.DiemDuLich) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.KhuDuLich ? StringEnum.GetStringValue(LinhVucKinhDoanh.KhuDuLich) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.LuHanh ? StringEnum.GetStringValue(LinhVucKinhDoanh.LuHanh) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.HDV ? StringEnum.GetStringValue(LinhVucKinhDoanh.HDV) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.CSSK ? StringEnum.GetStringValue(LinhVucKinhDoanh.CSSK) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.TheThao ? StringEnum.GetStringValue(LinhVucKinhDoanh.TheThao) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.VanChuyen ? StringEnum.GetStringValue(LinhVucKinhDoanh.VanChuyen) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.VSCC ? StringEnum.GetStringValue(LinhVucKinhDoanh.VSCC) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.KhuVuiChoi ? StringEnum.GetStringValue(LinhVucKinhDoanh.KhuVuiChoi) :
                                                                                          Convert.ToInt32(arr[i]) == (int)LinhVucKinhDoanh.MuaSam ? StringEnum.GetStringValue(LinhVucKinhDoanh.MuaSam) : "";
                                                                            <em>- @name</em><br />
                                                                        }
                                                                    }
                                                                </td>
                                                                <td class="text-center">
                                                                    <a title="Sửa loại giấy phép" href="/Danhmuc/Sualoaigiayphep/?id=@HashUtil.EncodeID(d.Id.ToString())" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i> Sửa</a>
                                                                    <a title="Xóa loại giấy phép" data-title="Bạn muốn xóa loại giấy phép, chứng chỉ @d.Ten ?" data-url="/Danhmuc/Xoaloaigiayphep/?id=@HashUtil.EncodeID(d.Id.ToString())" class="btn btn-danger btn-xs btn-delete"><i class="fas fa-trash"></i> Xóa</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="text-red" colspan="5">Không có dữ liệu nào trong danh sách</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            @{
                                if (Model.TotalRecords > Model.PageSize)
                                {
                                    <div class="card-footer">
                                        @await Component.InvokeAsync("Paging", new { page = Model })
                                    </div>
                                }
                            }
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


